extends layout
block title
  title #{comic.title}

block content
  link(rel='stylesheet', href='/stylesheets/Comic.css')
  - console.log(comic)
  - console.log(comic._id)
  - var w = comic.width
  - console.log('w: ' + w)
  - var h = comic.height
  - console.log('h: ' + h)
  - var size = w*h
  - var i = 0;
  - var n = 0;
  - var index = 0;
  - var title = comic.title
  - console.log('title: ' + title)
  - var author = comic.author
  - console.log('author: ' + author)

  div#comicwrapper
    ul#comic
      li
        h1 #{comic.title}
      li
        if comic.panels
          each panel, p in comic.panels
            img(src = panel)
      //  if w && h
      //    ul
      //      while i < height
      //        li
      //          while n < width
      //            img(src= comic.panels[index], alt="placeholder" + (index))
      //            index = index + 1
        else
          img(src= comic.image, alt="placeholder")
      li
        p
          b Author: #{ comic.author}
        br
