doctype html
//
  http://www.dynamicdrive.com/forums/entry.php?293-3-Ways-to-Resize-Scale-Web-Images-in-Responsive-Design
  http://alijafarian.com/responsive-image-grids-using-css/
  !
html
  head
    block title
      title Default title
    link(rel='icon', href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Comic_Books.png/120px-Comic_Books.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/Login_Box.js")

    img#banner(src='http://res.cloudinary.com/namehere/image/upload/v1457061036/header_pbjzmf.jpg', alt='Header Image')
    #navbar
      ul
        li
          a(href='/') Home
        li
          if user
            a#bttnacclogin(href='javascript:void(0);', style='display:none') Account
            a#bttnaccount(href='javascript:void(0);') #{user.username}
          else
            a#bttnacclogin(href='javascript:void(0);') Account
            a#bttnaccount(href='javascript:void(0);', style='display:none') Account
        li
          if user
            a(href='/upload') Uploads
        li.dropdown
          if user
            a.dropbtn(href='#') Workspace
            .dropdown-content
              each workspace, w in user.workspaces
                a(href='/workspace/'+ workspace) Workspace #{w+1}
              a(href='/newWorkspace') Create New
        li
          if user
            a(href='/profile') Profile
        li
          if user
            a(href='/signout') Log Out
        // Add links here!
        ul(style='float:right; padding: 15px 15px;')
          li
            form(action='/search', accept-charset='utf-8', method='GET')
              input(type='search', name='q', placeholder='Search')
              input(type='submit', value='Search')


    #login_box
      form(action='/login', accept-charset='utf-8', method='POST')
        fieldset
          legend Login:
          |               Username:
          input(type='text', name='username', placeholder='Username',required, autofocus)
          br
          |               Password:
          input(type='password', name='password', placeholder='Password', required)
          br
          input#bttnlogin(type='submit', value='Log In')
          input#bttncancel_login(type='button', value='Cancel')
        a(href='/signup') Create an account

    block content
