extends layout1
block title
  title Upload
block content

  head
    style.
      #title {position:relative; margin-top:300px;}
      #upload {position:relative; margin-top:10px;}


  h1#title= title
  div#upload
    form(method="POST",action="/upload", enctype="multipart/form-data")

      select(name="workspace", required)
        option(selected="selected", disabled) Choose Workspace
        each workspace, w in user.workspaces
          -console.log(workspace)
          option(value=workspace) Workspace #{w+1}
      input#i_file(type="file", name="image" required)
      button#i_submit(type="submit") Upload Image
