extends layout
block title
  title Register

block content
  link(rel='stylesheet', href='/stylesheets/register.css')
  form(action='/signup', accept-charset='utf-8', method='POST')#signup
    div.container
      div.row
        div.col-sm-6.col-md-4.col-md-offset-4
          h1.text-center.login-title Registration Details
            div.signup-wall
              form(class='form-signin', action='/signup', method='POST')
                br
                input(type='text', name='username', class='form-control', placeholder='Username',required, autofocus)
                br
                input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
                br
                input(type='email', name='email', class='form-control', placeholder='Email',required)
                br
                input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
                br
                input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
                br
                button(class='btn btn-lg btn-primary btn-block', type='submit') Register
                span.clearfix
              #message
                if message
                  h1.text-center.error-message #{message}
