doctype html
html
  head
    meta(charset='utf-8')
    title HTML5 File Drag and Drop Upload with jQuery and PHP | Tutorialzine Demo
    // Our CSS stylesheet file
    link(rel='stylesheet', href='stylesheets/upload.css')
    //if lt IE 9
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    title Upload

  body
    script(src="/javascripts/Login_Box.js")

    img#banner(src='header.jpg', alt='Header Image')
    #navbar
      ul
        li
          a(href='/') Home
        li
          if user
            a#bttnacclogin(href='javascript:void(0);', style='display:none') Account
            a#bttnaccount(href='javascript:void(0);') #{user.username}
          else
            a#bttnacclogin(href='javascript:void(0);') Account
            a#bttnaccount(href='javascript:void(0);', style='display:none') Account
        li
          if user
            a(href='/upload') Uploads
        li
          if user
            a(href='/publish') Publish
        li
          if user
            a(href='/signout') Log Out
        // Add links here!
        ul(style='float:right; padding: 15px 15px;')
          li
            form(action='/search', accept-charset='utf-8', method='POST')
              input(type='search', placeholder='Search')
              input(type='submit', value='Search')


    #login_box
      form(action='/login', accept-charset='utf-8', method='POST')
        fieldset
          legend Login:
          |               Username:
          input(type='text', name='username', placeholder='Username',required, autofocus)
          br
          |               Password:
          input(type='password', name='password', placeholder='Password', required)
          br
          input#bttnlogin(type='submit', value='Log In')
          input#bttncancel_login(type='button', value='Cancel')
        a(href='/signup') Create an account

      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    header
      h1 HTML5 File Upload with jQuery and PHP
    #dropbox
      span.message
        | Drop your comic strips here to upload.
        br
        i When done, press upload.

    footer
      a.tzine(href='/')
    // Including The jQuery Library
    script(src='http://code.jquery.com/jquery-1.6.3.min.js')
    // Including the HTML5 Uploader plugin
    script(src='js/jquery.filedrop.js')
    // The main script file
    script(src='js/script.js')
