extends layout1

block title
  title Workspace
block content
  head
    style.
      #title {position:relative;margin-top:300px;;}
      #text {position:relative;margin-top:10px;;}
      #div1 {width:1200px;height:440px;padding:10px;border:1px solid #aaaaaa;margin-top:10px;;position:relative;}
      .img {position:relative;margin-top:10px;;}
    script.
      function allowDrop(ev) {
      ev.preventDefault();
      }
      function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
      }
      function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      var formFiles = document.getElementById(files);
      if ( event.target.nodeName !== "IMG" ) {
      event.target.appendChild(document.getElementById(data));
      }
      }
  body
    h1#title= title
    p#text Drag your comic panels into the box:
    form#formPublish(name="publish",method="post",action="/publish")
      input#inputtitle(type="text", placeholder="comic title", name="title", required)
      br
      input#inputauthor(type="text", placeholder="Author", value=user.username, name="author", required).disabled
      br
      input#files(type="hidden" multiple)
      #div1(ondrop='drop(event)', ondragover='allowDrop(event)')
      //input#inputimage(type="file", placeholder="image", name="image", required)
      br
    - if (images && images.length)
      - each image, index in images
        - var i = index
        a(href='/workspace/' + i + '/delete')
          img.img(id = i, src=cloudinary.url(image.public_id + '.' + image.format, { width: 200, height: 200, crop: 'fill', version: image.version }), draggable='true', ondragstart='drag(event)')
      script(src='public/snap.js')
      br
      input(type="checkbox", name="privacy", id="uneditable",checked='checked')
      p#text Check if you want other users to be able to cut panels from your comic
      br
      input#inputtag1(type="text", placeholder="tag1", name="tag1")
      br
      input#inputtag2(type="text", placeholder="tag2", name="tag2")
      br
      input#inputtag3(type="text", placeholder="tag3", name="tag3")
      br
      input#inputtag4(type="text", placeholder="tag4", name="tag4")
      br
      input#btnSubmit(type='submit', value='Publish')
